---
const { pageNumber } = Astro.props;
---

<div>
  <h1>Conteúdo da Página Template 2 - Número: {pageNumber}</h1>
  {/* Cole AQUI o HTML COPIADO da página https://glucosecontrolguide.com/fb/sgs/vsl3/prn-ca1/h1l1// */}
  <div class="header">
    {/* Exemplo de uma parte do HTML */}
    <p>Este é o cabeçalho da página.</p>
  </div>
  <div class="body-text">
    {/* Exemplo de outra parte do HTML */}
    <p>Este é o corpo do texto da página.</p>
  </div>
  {/* Continue colando o restante do HTML aqui */}
</div>

<style>
  /* Cole AQUI o CSS COPIADO da página https://glucosecontrolguide.com/fb/sgs/vsl3/prn-ca1/h1l1// */
  .header {
    /* Exemplo de estilos */
    background-color: #f0f0f0;
    padding: 10px;
  }

  .body-text {
    /* Exemplo de estilos */
    line-height: 1.5;
  }

  /* Continue colando o restante do CSS aqui */
</style>