---
import Template2Content from '../../components/Template2Content.astro';

export const getStaticPaths = async () => {
  return Array.from({ length: 1000 }, (_, i) => ({
    params: { id: (i + 1).toString() },
    props: { pageNumber: i + 1 },
  }));
};

const { pageNumber } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Template 2 - {pageNumber}</title>
  {/* Se houver CSS global ou links para folhas de estilo, adicione-os aqui */}
</head>
<body>
  <main>
    <Template2Content pageNumber={pageNumber} />
  </main>
</body>
</html>