---
import Template1Content from '../../components/Template1Content.astro';

export const getStaticPaths = async () => {
  return Array.from({ length: 1000 }, (_, i) => ({
    params: { id: (i + 1).toString() },
    props: { pageNumber: i + 1 },
  }));
};

const { pageNumber } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Template 1 - {pageNumber}</title>
</head>
<body>
  <main>
    <Template1Content pageNumber={pageNumber} />
  </main>
</body>
</html>